<html>
<head>
<title>Students</title>
<style type="text/css">
th, td {
	border:1px solid #1d436a;
	padding: 5px;
}
table {
	border-collapse: collapse;
}
</style>
</head>
<body>
	<h1 style="background: #1d436a; color: white; padding: 10px 20px;">Students</h1>
	<table>
		<thead>
			<tr>
				<th style="width:100px;">ID</th>
				<th style="width:200px;">First Name</th>
				<th style="width:200px;">Last Name</th>
				<th style="width:100px;">Age</th>
			</tr>
		</thead>
		<tbody>
			${TABLE-BODY}
		</tbody>
	</table>
</body>
</html>